<div th:fragment="bodyContent">
    <h1 class="section-title">Edit Event</h1>

    <form th:action="@{/events/edit/{id}(id=${event.id})}" method="post" class="form-container">
        <div class="form-group">
            <label for="name">Event Name:</label>
            <input type="text" id="name" name="name" th:value="${event.name}" required>
        </div>

        <div class="form-group">
            <label for="artist">Artist:</label>
            <input type="text" id="artist" name="artist" th:value="${event.artist}" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" required th:text="${event.description}"></textarea>
        </div>

        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" th:value="${event.date}" required>
        </div>

        <div class="form-group">
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" th:value="${event.time}" required>
        </div>

        <input type="hidden" id="local_id" name="local_id" th:value="${event.local.id}">

        <button type="submit" class="btn">Save Changes</button>
    </form>
</div>
