<div th:fragment="bodyContent">
    <h1>Edit Local</h1>

    <form th:action="@{/locals/edit/{id}(id=${local.id})}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:value="${local.name}" required>
        </div>

        <div>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" th:value="${local.location}" required>
        </div>

        <div>
            <label for="workingHours">Working Hours:</label>
            <input type="text" id="workingHours" name="workingHours" th:value="${local.workingHours}" required>
        </div>

        <div>
            <label for="contactNumber">Contact Number:</label>
            <input type="text" id="contactNumber" name="contactNumber" th:value="${local.contact_number}" required>
        </div>

        <button type="submit">Save Changes</button>
    </form>
</div>
