<div th:fragment="bodyContent">
    <h1 class="section-title">Events</h1>

    <section class="blog-grid">
        <div class="blog-post" th:each="event : ${events}">
            <div class="event-item">
                <div class="event-info">
                    <span th:text="${event.name}" class="event-title"></span>
                    <span class="event-artist" th:text="'Local: ' + ${event.local.name}"></span>
                    <span class="event-artist" th:text="'Artist: ' + ${event.artist}"></span>
                    <span class="event-date" th:text="'Date: ' + ${event.date}"></span>
                    <span class="event-time" th:text="'Time: ' + ${event.time}"></span>
                    <a class="details-style" th:href="@{/events/{id}(id=${event.id})}">Details »</a>
                </div>
                <div class="event-actions">
                    <form th:action="@{/events/interested/{id}(id=${event.id})}" method="post">
                        <button type="submit" class="star-btn">
                            <i th:class="${interestedEvents.contains(event)} ? 'fa-solid fa-star' : 'fa-regular fa-star'"></i>
                        </button>
                    </form>
                    <form th:action="@{/events/delete/{id}(id=${event.id})}" method="post">
                        <button sec:authorize="hasAuthority('ROLE_ADMIN')" type="submit" class="btn-delete">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
