<div th:fragment="bodyContent">
    <h1 class="section-title">List of Events</h1>

    <ul class="events-list">
        <th:block th:each="event : ${events}">
            <li class="event-item">
                <div class="event-info">
                    <a th:href="@{/events/{id}(id=${event.id})}" th:text="${event.name}" class="event-title"></a>
                    <span class="event-artist" th:text="'Artist: ' + ${event.artist}"></span>
                    <span class="event-date" th:text="'Date: ' + ${event.date}"></span>
                    <span class="event-time" th:text="'Time: ' + ${event.time}"></span>
                </div>
                <div class="event-actions">
                    <form th:action="@{/events/interested/{id}(id=${event.id})}" method="post">
                        <button type="submit" class="star-btn">
                            <i th:class="${interestedEvents.contains(event)} ? 'fa-solid fa-star' : 'fa-regular fa-star'"></i>
                        </button>
                    </form>
                    <form th:action="@{/events/delete/{id}(id=${event.id})}" method="post">
                        <button type="submit" class="btn-delete">Delete</button>
                    </form>
                </div>
            </li>
        </th:block>
    </ul>
</div>
