<header th:fragment="header">
    <a href="/locals">
        <button class="logo">
            EVENT GUIDE
        </button>
    </a>
    <nav>
        <ul>
            <li><a href="/locals">Locals</a></li>
            <li><a href="/events">Events</a></li>

            <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="/admin">Admin</a></li>

            <li sec:authorize="isAuthenticated()"><a href="/users/events">Profile</a></li>

            <li sec:authorize="!isAuthenticated()"><a href="/auth/login">Login</a></li>

            <li sec:authorize="isAuthenticated()">
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>
