<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Locals</title>
</head>
<body>
<h1>Locals</h1>
<div th:each="local : ${locals}">
    <p>Name: <span th:text="${local.name}"></span></p>
    <p>Type: <span th:text="${local.type}"></span></p>
    <p>Location: <span th:text="${local.location}"></span></p>
    <p>Contact Number: <span th:text="${local.contact_number}"></span></p>
    <a th:href="@{/locals/{id}(id=${local.id})}">View Details</a>
</div>
</body>
</html>
