<div class="local-info-container">

    <p class="local-info title">
        <strong th:text="${local.name}"></strong>
    </p>

    <p class="local-info">
        <strong>Type:</strong>
        <span th:text="${local.type}"></span>
    </p>

    <p class="local-info">
        <strong>Location:</strong>
        <span th:text="${local.location}"></span>
    </p>

    <p class="local-info">
        <strong>Working Hours:</strong>
    </p>

    <table class="working-hours-table">
        <tr th:each="hour : ${#strings.arraySplit(#strings.replace(#strings.replace(local.workingHours, '[', ''), ']', ''), ',')}">
            <td>
                <span th:text="${#strings.trim(#strings.substringBefore(hour, ':'))}"></span>
            </td>
            <td>
                <span th:text="${#strings.trim(#strings.substringAfter(hour, ':'))}"></span>
            </td>
        </tr>
    </table>

    <p th:if="${local.contact_number != null and local.contact_number != 'N/A'}" class="local-info">
        <strong>Contact Number:</strong>
        <span th:text="${local.contact_number}"></span>
    </p>

    <p class="local-info">
        <strong>Website:</strong>
        <span th:text="${local.website}"></span>
    </p>
</div>

<!-- Events Section -->
<h2 class="section-title">Events</h2>

<ul class="events-list">
    <li class="event-item" th:each="event : ${local.events}">
        <h3 class="event-title" th:text="${event.name}"></h3>

        <p class="event-detail">
            <strong>Artist:</strong>
            <span th:text="${event.artist}"></span>
        </p>
        <p class="event-detail">
            <strong>Description:</strong>
            <span th:text="${event.description}"></span>
        </p>
        <p class="event-detail">
            <strong>Date:</strong>
            <span th:text="${event.date}"></span>
        </p>
        <p class="event-detail">
            <strong>Time:</strong>
            <span th:text="${event.time}"></span>
        </p>

        <form th:action="@{/events/edit/{id}(id=${event.id})}" method="get">
            <button sec:authorize="hasAuthority('ROLE_ADMIN')" type="submit" class="btn">Edit event</button>
        </form>
    </li>
</ul>

<div class="actions">
    <form th:action="@{/locals/{id}/events/add(id=${local.id})}" method="get">
        <button type="submit" class="btn">Add event</button>
    </form>

    <a href="/locals" class="btn back-btn">Back to List</a>
</div>
